
@{
    ViewData["Title"] = "ASP MVC Bot Sample";
}

<h2>Welcome to the ASP MVC Bot Sample</h2>
This sample has multiple controllers some of which expose HTML and others of which expose bots.

